<?xml version="1.0"?>
<!--
 * @category    Arvato
 * @package     Arvato_ComboDeals
 * @copyright   Copyright (c) arvato 2015
 */
-->
<config>
    <modules>
        <Arvato_ComboDeals>
            <version>1.0.0</version>
        </Arvato_ComboDeals>
    </modules>
    <frontend>
        <routers>
            <combodeals>
                <use>standard</use>
                <args>
                    <module>Arvato_ComboDeals</module>
                    <frontName>combodeals</frontName>
                </args>
            </combodeals>
        </routers>
        <layout>
            <updates>
                <combodeals>
                    <file>combodeals.xml</file>
                </combodeals>
            </updates>
        </layout>
    </frontend>
    <global>
        <catalog>
            <product>
                <type>
                    <combodeal translate="label" module="catalog">
                        <label>Combo Deal Product</label>
                        <model>combodeals/product_type</model>
                        <is_qty>1</is_qty>
                        <composite>1</composite>
                    </combodeal>
                </type>
            </product>
        </catalog>
        <helpers>
            <combodeals>
                <class>Arvato_ComboDeals_Helper</class>
            </combodeals>
        </helpers>
        <blocks>
            <combodeals>
                <class>Arvato_ComboDeals_Block</class>
            </combodeals>           
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Arvato_ComboDeals_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <combodeals>
                <class>Arvato_ComboDeals_Model</class>
                <resourceModel>combodeals_resource</resourceModel>
            </combodeals>
            <combodeals_resource>
                <class>Arvato_ComboDeals_Model_Resource</class>
                <entities>
                    <option>
                        <table>arvato_catalog_product_combodeal_option</table>
                    </option>
                    <selection>
                        <table>arvato_catalog_product_combodeal_selection</table>
                    </selection>
                </entities>
            </combodeals_resource>
            <bundle>
                <rewrite>
                    <product_type>Arvato_ComboDeals_Model_Product_Type</product_type>              
                </rewrite>
            </bundle>
        </models>
        <resources>
            <combodeals_setup>
                <setup>
                    <module>Arvato_ComboDeals</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </combodeals_setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <combodeals before="Mage_Adminhtml">Arvato_ComboDeals_Adminhtml</combodeals>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <combodeal_product_save>
                        <class>combodeals/observer</class>
                        <method>prepareProductSave</method>
                    </combodeal_product_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <arvato_combodeal_model_observer>
                        <class>combodeals/observer</class>
                        <method>afterProductSave</method>
                    </arvato_combodeal_model_observer>
                </observers>
            </catalog_product_save_after>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <combodeal_remove_attributes>
                        <class>combodeals/observer</class>
                        <method>removeAttributes</method>
                    </combodeal_remove_attributes>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <combodeal_remove_tab>
                        <class>combodeals/observer</class>
                        <method>removeTabs</method>
                    </combodeal_remove_tab>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <controller_action_postdispatch_adminhtml_catalog_product_save>
                <observers>
                    <combodeal_grid_redirect>
                        <class>combodeals/observer</class>
                        <method>saveAndRedirect</method>
                    </combodeal_grid_redirect>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_save>
        </events>
        <layout>
            <updates>
                <combodeals>
                    <file>combodeals.xml</file>
                </combodeals>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <combodeals_admin>
            <setting>
                <enable_frontend>1</enable_frontend>
            </setting>
            <combodeals_setting>
                <enable_dedicated>1</enable_dedicated>
            </combodeals_setting>
        </combodeals_admin>
    </default>
</config>