<?xml version="1.0"?>
<config>
    <modules>
        <Arvato_ComboDeals>
            <version>0.1.0</version>
        </Arvato_ComboDeals>
    </modules>
    <frontend>
        <routers>
            <combodeals>
                <use>standard</use>
                <args>
                    <module>Arvato_ComboDeals</module>
                    <frontName>combodeals</frontName>
                </args>
            </combodeals>
        </routers>
        <layout>
            <updates>
                <combodeals>
                    <file>combodeals.xml</file>
                </combodeals>
            </updates>
        </layout>
    </frontend>
    <global>
        <catalog>
            <product>
                <type>
                    <combodeal translate="label" module="catalog">
                        <label>Combo Deal Product</label>
                        <model>combodeals/product_type</model>
                        <is_qty>1</is_qty>
                        <price_model>combodeals/product_price</price_model>
                        <composite>1</composite>
                    </combodeal>
                </type>
            </product>
        </catalog>
        <helpers>
            <combodeals>
                <class>Arvato_ComboDeals_Helper</class>
            </combodeals>
        </helpers>
        <blocks>
            <combodeals>
                <class>Arvato_ComboDeals_Block</class>
            </combodeals>
        </blocks>
        <models>
            <combodeals>
                <class>Arvato_ComboDeals_Model</class>
                <resourceModel>combodeals_mysql4</resourceModel>
            </combodeals>
            <rewrite>
                <bundle>
                    <product_type>Arvato_ComboDeals_Model_Product_Type</product_type>
                </bundle>
            </rewrite>
        </models>
        <resources>
            <combodeals_setup>
                <setup>
                    <module>Arvato_ComboDeals</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </combodeals_setup>
            <combodeals_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </combodeals_write>
            <combodeals_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </combodeals_read>
        </resources>
    </global>
    <admin>
        <routers>
            <combodeals>
                <use>admin</use>
                <args>
                    <module>Arvato_ComboDeals</module>
                    <frontName>admin_combodeals</frontName>
                </args>
            </combodeals>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <combodeal_product_save>
                        <class>combodeals/observer</class>
                        <method>prepareProductSave</method>
                    </combodeal_product_save>
                </observers>
            </catalog_product_prepare_save>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <combodeal_remove_attributes>
                        <class>combodeals/observer</class>
                        <method>removeAttributes</method>
                    </combodeal_remove_attributes>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <combodeal_remove_tab>
                        <class>combodeals/observer</class>
                        <method>removeTabs</method>
                    </combodeal_remove_tab>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
        <menu>
            <combodeals module="combodeals">
                <title>ComboDeals</title>
                <sort_order>100</sort_order>
                <children>
                    <combodealsbackend module="combodeals">
                        <title>Backend Page Title</title>
                        <sort_order>0</sort_order>
                        <action>admin_combodeals/adminhtml_combodealsbackend</action>
                    </combodealsbackend>
                </children>
            </combodeals>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
            </resources>
        </acl>
        <layout>
            <updates>
                <combodeals>
                    <file>combodeals.xml</file>
                </combodeals>
            </updates>
        </layout>
    </adminhtml>
</config>
